body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    background: #fbad05;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

button:hover {
    background: #dc9908;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 15px;
    background: #f9f9f9;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
}

li span {
    flex-grow: 1;
}

li button {
    background: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

li button:hover {
    background: #b7aaab;
}

.ticket-count {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: auto;
}

.ticket-count i {
    margin-right: 5px;
}
.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
    padding: 5px;
}

.icon-button:hover {
    color: #0056b3;
}

.important {
    color: #ffc107;
}

.edit-form {
    display: none;
    flex-direction: column;
}

.edit-form input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.save-button {
    background: #17a2b8;
}

.save-button:hover {
    background: #138496;
}